@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Mynerve&family=Tilt+Warp&display=swap');
#polo
{
    height: 600px;
    font-family: "Tilt Warp"; 
    margin-left: -6%;
}

#zoldkep
{
    display: none;
}

#szurkekep
{
    display: none;
}

#narancskep
{
    display: none;
}

#piroskep
{
    display: none;
}

#kekkep
{
    display: none;
}

#felirat
{
    position: relative;
    display: flex;
    justify-content: center;
    top: -350px;
    z-index: 1;
    font-size: 180%;
    color: white;
    text-align: center;
    margin-left: 7%;
}

.keret
{
    box-shadow: 10px 10px 10px #eee;
    border-radius: 5px;
    background: white;
    border: 1px solid #888;
}

.jobb
{
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

#sorszam
{
    font-size: 820%;
    position: relative;
    margin-left: 60px;
    display: block;
    top: -350px;
    z-index: 1;
    color: white;
    text-align: center;
    margin-right: 3%;
}

h1
{
    text-align: center;
    font-family: 'Mynerve', cursive;
    color: #2d0116;
}

body
{
    background-image: url("../images/pattern.png");
}
